[Desktop Entry]
Type=Application
Name=File Explorer
Name[ko]=파일 탐색기
GenericName=File Manager
GenericName[ko]=파일 관리자
Comment=Browse and manage your files and folders
Comment[ko]=파일과 폴더를 찾아보고 관리합니다
Exec=sekai-files %U
Icon=system-file-manager
Terminal=false
Categories=System;FileTools;FileManager;GTK;
MimeType=inode/directory;
Keywords=파일 탐색기;탐색기;파일;폴더;내 PC;내 컴퓨터;문서;다운로드;사진;휴지통;드라이브;USB;file explorer;explorer;files;folders;file manager;browser;my pc;this pc;documents;downloads;trash;recycle bin;drive;
StartupNotify=true
StartupWMClass=org.sekaios.Files
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Name[ko]=새 창
Exec=sekai-files
