UI menu.c32
PROMPT 0
TIMEOUT 50
MENU TITLE SekaiOS 1.0 (Hatsune)

LABEL live
  MENU LABEL ^SekaiOS Live
  MENU DEFAULT
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.img boot=live components quiet splash loglevel=3 rd.udev.log_level=3 systemd.show_status=auto vt.global_cursor_default=0

LABEL live-verbose
  MENU LABEL SekaiOS Live (^verbose)
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.img boot=live components

LABEL live-debug
  MENU LABEL SekaiOS Live (^debug)
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.img boot=live components debug=1

LABEL live-safe
  MENU LABEL SekaiOS Live (^safe mode)
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.img boot=live components noapic noacpi nomodeset
